* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: var(--font-family);
}
.contain__baner__2 {
  width: 100%;
  height: 264px;
  max-width: 1336px;
  display: block;
  margin: 10px auto;
  .contain__baner__center__2 {
    width: 1336px;
    height: 264px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    & a {
      width: 600px;
      height: 250px;
      position: relative;
      display: block;
      .h__full__2 {
        border-radius: 16px;
        display: block;
        line-height: 0;
        & img {
          width: 600px;
          height: 250px;
          border-radius: 16px;
          object-fit: cover;
          display: inline-block;
          overflow: hidden;
          position: relative;
          cursor: pointer;
        }
      }
    }
  }
}
