* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.contain__shegeft {
  width: 1600px;
  height: 463px;
  margin: 0px auto;
  padding: 0px 16px;
  flex-grow: 1;
  display: block;
  .contain__shegeft__main {
    width: 1568px;
    height: 463px;
    margin-top: 24px;
    padding-top: 8px;
    border: 1px solid #e0e0e2;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    .text__sh {
      width: 1566px;
      height: 67px;
      padding: 12px 20px;
      overflow-wrap: break-word;
      display: block;
      .text__sh__1 {
        width: 1526px;
        height: 33px;
        align-items: center;
        display: flex;
        .svg {
          width: 24px;
          height: 24px;
          margin-left: 8px;
          flex-shrink: 0;
          display: flex;
        }
        & p {
          width: 1494px;
          height: 33px;
          & span {
            color: #0c0c0c;
            position: relative;
            font-size: 16px;
            font-weight: 700;
            line-height: 33px;
          }
        }
      }
      .line {
        margin-top: 8px;
        background-color: #ef394e;
        width: 70px;
        height: 1px;
        display: block;
      }
    }
    .main {
      width: 1566px;
      height: 385px;
      display: block;
      .mycontain__shegeft {
        width: 1566px;
        height: inherit;
        padding: 28px 0px;
        border-radius: 8px;
        overflow: hidden;
        flex-direction: column;
        display: flex;
        position: relative;
        margin-bottom: 20px;
        .change__mywonderful__swiper__slid {
          flex-flow: column wrap;
          cursor: pointer;
          margin: 0px 10px;
          width: 192px;
          height: 370px;
          border-left: 1px solid #e0e0e2;
          .change__mywonderful__swiper__slid__top svg {
            width: 92px;
            height: 77px;
          }
          .change__mywonderful__swiper__slid__center img {
            width: 145px !important;
            height: 115px !important;
            object-fit: contain;
          }
          .change__mywonderful__swiper__slid__bottom {
            .div {
              width: 100px;
              height: 30px;
              display: flex;
              cursor: pointer;
              justify-content: left;
              align-items: center;
              flex-flow: row wrap;
              & a {
                text-decoration: none;
                font-size: 14px;
                color: whitesmoke;
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                & svg {
                  & g {
                    fill: whitesmoke;
                  }
                }
              }
            }
          }
          .change__mywonderful__swiper__slid__image {
            margin-bottom: 10px;
            & img {
              width: 150px;
              height: 150px;
            }
          }
          .change__mywonderful__swiper__slid__discount {
            display: flex;
            flex-flow: row-reverse wrap;
            width: 100%;
            justify-content: space-between;
            padding: 15px;
            & div:nth-of-type(1) {
              font-family: var(--font-family-homa);
              font-size: 14px;
              font-weight: 700;
              color: #3f4064;
            }
            & div:nth-of-type(2) {
              font-family: var(--font-family-homa);
              font-size: 12px;
              font-weight: bold;
              width: fit-content;
              padding: 0 5px;
              border-radius: 10px;
              background-color: crimson;
              color: whitesmoke;
              margin-right: 10px;
            }
          }
          .change__mywonderful__swiper__slid__price {
            font-family: var(--font-family-homa);
            width: 100%;
            text-align: left;
            padding-left: 20px;
            text-decoration: line-through;
            font-size: 14px;
            color: #2b2b2b88;
          }
          .line {
            width: 176px;
            height: 4px;
            border-radius: 9999px;
            background-color: #f0f0f1;
            position: relative;
            display: block;
            cursor: pointer;
            .line__center {
              width: 65px;
              height: 4px;
              border-radius: 9999px;
              background-color: #ef394e;
              position: absolute;
              top: 0;
              left: 0;
              display: block;
            }
          }
          .time {
            width: 176px;
            height: 30px;
            padding-top: 4px;
            white-space: nowrap;
            justify-content: space-between;
            display: flex;
            cursor: pointer;
            .primar__right {
              width: 76px;
              height: 26px;
              display: block;
              white-space: nowrap;
              .primar__right__1 {
                color: #ef394e;
                margin-left: 4px;
                white-space: nowrap;
                font-family: var(--font-family-homa);
                font-size: 11px;
              }
              .primar__right__2 {
                width: 51px;
                height: 16px;
                font-size: 11px;
                font-weight: 400;
                line-height: 16px;
                color: #81858b;
              }
            }
            .primary__left {
              width: 90px;
              height: 26px;
              text-align: left;
              color: #ef394e;
              font-size: 12px;
              font-weight: 700;
              line-height: 26px;
            }
          }
          .text__im {
            width: 164px;
            height: 52px;
            overflow: hidden;
            font-size: 11px;
            line-height: 52px;
            cursor: pointer;
            .text__body {
              height: 60px;
              font-size: 12px;
              line-height: 30px;
              color: #3f4064;
            }
          }
          .svg {
            justify-content: flex-end;
            align-items: center;
            display: flex;
            margin-bottom: 10px;
            cursor: pointer;
            .svg__1 {
              width: 116px;
              height: 14px;
              line-height: 0;
              margin-left: 4px;
              display: block;
              cursor: pointer;
              & svg {
                display: inline-block;
              }
            }
          }

          .ersal {
            width: 175px;
            height: 23px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            margin-bottom: 5px;
            margin-top: 5px;
            cursor: pointer;
            .ersal__main {
              width: 172px;
              height: 23px;
              align-items: center;
              display: flex;
              .svg {
                width: 18px;
                height: 18px;
                line-height: 18px;
                flex-shrink: 0;
                display: flex;
                margin-left: 4px;
                align-items: flex-start;
              }
              .text {
                width: 80px;
                height: 23px;
                font-size: 11px;
                font-weight: 400;
                line-height: 23px;
                color: #62666d;
                display: block;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
