* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: var(--font-family);
}
.container__auto {
  width: 1210px;
  height: 96px;
  margin: 10px auto;
  max-width: 1210px;
  display: block;
  .w-full {
    width: inherit;
    height: 88px;
    background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%),
      radial-gradient(21.29% 87.33% at 50% 50.67%, #7cf2f6 0, #35a6c8 100%);
    padding: 12px 16px;
    border-radius: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 8px;
    .right {
      width: 119px;
      height: 33px;
      margin-right: 24px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      .styles__link {
        width: inherit;
        height: inherit;
        justify-content: inherit;
        align-items: inherit;
        display: inherit;
        text-decoration: none;
        .styles {
          width: 119px;
          height: 33px;
          line-height: 0;
          display: block;
          cursor: pointer;
          & svg {
            object-fit: contain;
            display: inline-block;
            overflow: hidden;
            position: relative;
            height: 33px;
          }
        }
      }
    }

    .left {
      width: 814px;
      height: 64px;
      align-items: center;
      display: flex;
      .gap__1 {
        width: inherit;
        height: inherit;
        border-radius: 8px;
        overflow: hidden;
        gap: 4px;
        display: flex;
        .hp__club1 {
          width: 274px;
          height: 64px;
          cursor: pointer;
          .flex__1 {
            width: 274px;
            height: 64px;
            border: 2px solid #fff;
            justify-content: space-between;
            flex-direction: row;
            background-color: #fff;
            overflow: hidden;
            align-items: center;
            display: flex;
            text-decoration: none;
            .flex__col {
              width: 86px;
              height: 26px;
              flex-direction: row;
              margin-right: 16px;
              align-items: center;
              display: flex;
              .flex {
                width: 22px;
                height: 22px;
                display: flex;
                & svg {
                  width: 18px;
                  height: 18px;
                  overflow: hidden;
                }
              }
              .text__body {
                width: 58px;
                height: 26px;
                margin-right: 8px;
                line-height: 26px;
                color: #0c0c0c;
                white-space: nowrap;
                font-size: 12px;
              }
            }

            .styles {
              width: 168px;
              height: 60px;
              display: block;
              .styles_widgetClub {
                width: 168px;
                height: 60px;
                & img {
                  width: 168px;
                  height: 60px;
                  display: inline-block;
                  overflow: hidden;
                  position: relative;
                  line-height: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
