* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: var(--font-family);
}
.contain__lazy__2 {
  width: 1210px;
  height: 418px;
  max-width: 1210px;
  margin: 10px auto;
  display: block;
  .lazyload-wrapper-2 {
    width: inherit;
    height: inherit;
    .grid__2 {
      gap: 1px;
      border: 1px solid #e0e0e2;
      border-radius: 16px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      background-color: #f0f0f1;
      overflow: hidden;
      display: grid;
      .grid__1__2 {
        width: 332px;
        height: 416px;
        background-color: #fff;
        padding: 8px 20px;
        flex-direction: column;
        display: flex;

        .items__2 {
          align-items: center;
          display: flex;
          .items__center1__2 {
            width: 292px;
            height: 57px;
            flex-direction: column;
            display: flex;
            margin-bottom: 8px;
            .items__center2__2 {
              justify-content: space-between;
              align-items: center;
              display: flex;
              .items__center3__2 {
                align-items: center;
                display: flex;
                .text__h4 {
                  width: 89px;
                  height: 33px;
                  line-height: 33px;
                  color: #23254e;
                  display: block;
                  font-size: 14px;
                }
              }
            }

            .text__caption {
              width: 292px;
              height: 23px;
              font-size: 11px;
              line-height: 23px;
              color: #81858b;
              display: block;
            }
          }
        }

        .bg-neutral {
          width: 292px;
          height: 292px;
          gap: 1px;
          background-color: #f0f0f1;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          display: grid;
          cursor: pointer;
          .w-full {
            width: 145px;
            height: 145px;
            padding: 8px;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            display: flex;
            position: relative;
            text-decoration: none;
            .rounded {
              width: 129px;
              height: 129px;
              border-radius: 8px;
              align-items: center;
              display: flex;
              .h-full {
                width: inherit;
                height: inherit;
                line-height: 0;
                display: block;
                & img {
                  width: inherit;
                  height: inherit;
                  object-fit: contain;
                  display: inline-block;
                  overflow: hidden;
                  position: relative;
                  line-height: 0;
                }
              }
            }
          }
        }

        .mt-1 {
          width: 292px;
          height: 26px;
          justify-content: center;
          align-items: center;
          display: flex;
          margin: 4px 0 12px 0;
          .mt-1-1 {
            width: 58px;
            height: 26px;
            line-height: 26px;
            align-items: center;
            cursor: pointer;
            display: inline-flex;
            color: #19bfd3;
            text-decoration: none;
            font-size: 12px;
            & span {
              width: 40px;
              height: 26px;
              line-height: 26px;
              cursor: pointer;
              color: #19bfd3;
              font-size: 12px;
            }
            .flex {
              width: 18px;
              height: 18px;
              display: flex;
              line-height: 18px;
              font-size: 10px;
              cursor: pointer;
              align-items: center;
              justify-content: center;
              & svg {
                overflow: hidden;
                line-height: 18px;
                font-size: 8px;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
